.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    font-weight: 500;
    color: #ffff;
    cursor: pointer;

    &__main {
    padding: 10px 16px;
    font-size: 46px;
    border: 4px solid #ffff;
    border-radius: 10px;
    }

    &__full-name {
        font-size: 18px;
        line-height: 20px;
        margin-left: 24px;
        margin-bottom: 4px;
    }
}